{{ define "main" }}
<div class="prose-wrap">
  <h1>{{ .Title }}</h1>
  <ul class="project-list">
    {{- range .Pages -}}
    <li class="project-item">
      <div class="project-item-header">
        <a href="{{ .Permalink }}">{{ .Title }}</a>
        <span class="project-meta">
          {{- if .Params.language -}}<span>{{ .Params.language }}</span>{{- end -}}
          {{- if gt (.Params.stars | int) 0 -}}<span>★ {{ .Params.stars }}</span>{{- end -}}
        </span>
      </div>
      {{- if .Description -}}
      <p class="project-desc">{{ .Description }}</p>
      {{- end -}}
    </li>
    {{- end -}}
  </ul>
</div>
{{ end }}
