<footer>
    <a href="https://github.com/edleeman17">Github</a>
    <a href="https://www.linkedin.com/in/ed-leeman-001/">LinkedIn</a>
    <a href="https://open.spotify.com/user/edleeman17">Spotify</a>
    <a href="https://www.last.fm/user/ed1727">Last.fm</a>
    <a href="https://matrix.to/#/@ed:selfhostingblog.com">@ed:selfhostingblog.com</a>
    <a rel="me" href="https://fosstodon.org/@edphones">Mastodon</a>
    <br />
    Running on a <a class="underline" href="https://amzn.to/3kBHi2H">Raspberry Pi 4</a> in my loft.<br />
    Get $200 Digital Ocean credit using <a class="underline" href="https://m.do.co/c/d2a3afe52625">this link</a>
</footer>
<script>
    var output = '';

    $('.post')
        .find('> h2, > h3')
        .each(function (index, value) {
            $('.page-toc').show();
            var linkClass =
                $(this).prop('tagName') == 'H3'
                    ? 'sticky-toc-link sticky-toc-link-indented'
                    : 'sticky-toc-link';
            output +=
                '<a class="' + linkClass + '" href="#' + $(value).attr('id') + '">- ' + $(value).text() + '</a>';
        });

    $('.page-toc').html(output);

    $('.sticky-toc-link').on('click', function (e) {
        e.preventDefault();
        var link = $(this).attr('href');

        $('html, body').animate(
            {
                scrollTop: $(link).offset().top - 82,
            },
            500
        );
    });


    $("#button").click(function () {
        if (localStorage.toggled != 'dark') {
            $('html').toggleClass('dark', true);
            $('#button').html('light');
            localStorage.toggled = "dark";
        } else {
            $('html').toggleClass('dark', false);
            $('#button').html('dark');
            localStorage.toggled = "";
        }
    });
</script>
</body>

</html>
