<div class="post-feed h-feed">
    <span class="p-name" style="display:none;">Notes by Ed Leeman</span>
    {{ $dataFormat := .Site.Params.dateFormat | default "2006-01-02" }}
    {{ range where .Site.RegularPages "Type" "note" }}
    <article class="feed post h-entry">
        <span class="post-date"><time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format $dataFormat }}</time></span>
        <span class="link"><a class="u-url p-name" href="{{ .Permalink  }}">{{ .Title }}</a></span>
        <span class="reading-time">
            {{ .ReadingTime }} min read
        </span>
    </article>
    {{ end }}
</div>
