{{- partial "header.html" . -}}

<div class="main">
    <h2>Archive</h2>

    {{ $pagesByYear := .Site.RegularPages.GroupByDate "2006" "year" }}
    {{ range $pages := $pagesByYear }}

    <section>
        <h2>{{ $pages.Key }}</h2>
        <div class="preview">
            <ul>
                {{ range $pages.Pages }}
                {{ $dataFormat := .Site.Params.dateFormat | default "2006-01-02" }}
                <article class="feed post">
                    <span class="post-date">{{ .Date.Format $dataFormat }}</span>
                    <span class="link"><a href="{{ .Permalink  }}">{{ .Title }}</a></span>
                    <span class="reading-time">
                        {{ .ReadingTime }} min read
                    </span>
                </article>
                {{ end }}
            </ul>
        </div>
    </section>
    {{ end }}
</div>
{{- partial "footer.html" . -}}
